.mtavari{
    margin: 0 auto;
    position: relative; 
}

.img1{
    width: 170px;
    height: 150px;
    left: 50%;
    top: 200px;
    animation-name: fish-1;
    position: absolute;    
    animation: fish-1 10s infinite;
}

@keyframes fish-1{    
        from {right: 0px;}
        to {left: 500px;}    
    }

.img2{
    width: 170px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 600px;
    animation-name: fish-2;
    position: absolute;    
    animation: fish-1 10s infinite;
}

@keyframes fish-2{    
    from {right: 0px;}
    to {left: 500px;}    
}

.img3{
    width: 170px;
    height: auto;
    left: 60%;
    top: 250px;
    position: absolute;
    animation-name: fish-3;
    position: absolute;    
    animation: fish-1 10s infinite;
    
}

@keyframes fish-3{    
    from {right: 0px;}
    to {left: 500px;}    
    
}

.img4{
    width: 170px;
    height: auto;
    left: 70%;
    top: 300px;
    position: absolute;
    animation-name: fish-4;
    position: absolute;    
    animation: fish-1 10s infinite;
}

@keyframes fish-4{    
    from {right: 0px;}
    to {left: 500px;}    
}

.img5{
    width: 170px;
    height: auto;
    left: 80%;
    top: 350px;
    position: absolute;
    animation-name: fish-5;
    position: absolute;    
    animation: fish-1 5s infinite;
}

@keyframes fish-5{    
    from {right: 0px;}
    to {left: 500px;}    
}

.img6{
    width: 170px;
    height: auto;
    left: 85%;
    top: 550px;
    position: absolute;
    animation-name: fish-6;
    position: absolute;    
    animation: fish-1 10s infinite;
}

@keyframes fish-6{    
    from {right: 0px;}
    to {left: 500px;}    
}

.ariel{
    width: 550px;
    height: auto;
    left: 0%;
    top: 35%;
    position: absolute;
    animation-name: ariel;
    position: absolute;    
    animation: ariel 5s infinite;

}
@keyframes ariel{    
    from {top: 0px;}
    to {top: 250px;}  
    10% {transform: rotate(30deg);  
}